div#find-ext-iframe-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2147483647;
}

iframe#find-ext-iframe {
    height: 32px;
    min-height: 32px;
    min-width: 320px;
    background: #ffffff;
    margin: 0;
    padding: 0 3px 0 3px;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}